/MirrorMirrorOnTheWall/dist/**
/MirrorMirrorOnTheWall/nbproject/private//**
/MirrorMirrorOnTheWall/build//**
/MirrorMirrorOnTheWall/nbbuild//**
/MirrorMirrorOnTheWall/dist//**
/MirrorMirrorOnTheWall/nbdist//**
/MirrorMirrorOnTheWall/.nb-gradle//**
